::ng-deep .mat-line{
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
  ::ng-deep  .mat-list .mat-list-item{
    height:initial!important;
  }
i {
    cursor: pointer;
}
a {
    cursor: pointer;
}