/* You can add global styles to this file, and also import other style files */
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/assets/tianyi-ma-WiONHd_zYI4-cropped.jpg");
    min-height: 100%;
  }
.grayscale-half {
	filter: grayscale(50%);
    }
    html {
      scroll-behavior: smooth;
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.display-container {
	position: relative;
}
.display-top-middle {
	position: absolute;
	left: 50%;
	top: 0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)

}
.header-white {
	color:white;
}
/*
a:link {
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0;
	text-decoration: none;
}*/