

<div class="bgimg-1 grayscale-half" id="#">
	<div class="display-container">
		<div class="display-top-middle" style="padding-top: 80px;">
			<span class="raleway header-white" style="font-size: 6vw; 
			padding:4px;
			line-height: 18vh;">Lets create something new!</span>
		</div>
		<div class="w3-text-grey center" style="padding-top: 95vh;">
			<a href="https://github.com/catyler85"><i class="fab fa-github w3-hover-opacity w3-padding-small"></i></a>
			<a href="https://www.linkedin.com/in/corey-tyler-18887820/"><i class="fab fa-linkedin w3-hover-opacity w3-padding-small"></i></a>
			<a href="https://www.facebook.com/catyler85"><i class="fab fa-facebook w3-hover-opacity w3-padding-small"></i></a>
		  </div>
	</div>
</div>


<!-- About Section-->
<div class="w3-container content" style="padding:128px 16px" id="about" ng-controller="portfolioCtrl">
	<h1 class="w3-center">About Me </h1>
	<div class="w3-row-padding" style="margin-top:64px">
	  <div class="w3-col l3 m5 w3-margin-bottom">
		<mat-card class="card">
			<img mat-card-image src="assets/corey_small.jpg" alt="Corey Tyler" styler="width:100%">
			<mat-card-content>
				<h3>Corey Tyler</h3>
				<p>Aspiring Web Developer</p>
				<p>Logical thinker with a touch of creativity.</p>

			</mat-card-content>
			<mat-card-actions>
					<a mat-button href="#contact"><mat-icon>mail</mat-icon> Contact</a>
			</mat-card-actions>
		</mat-card>
	  </div>
	  <div class="w3-col l9 m7 w3-margin-bottom">
		  <p>I'm an ace when it comes to database development.
			With several years experience using PL/SQL and PGSQL,
			I can write complex SQL
			queries and fine tune them to run more efficiently. </p>
		  <p>I've also begun to explore web development
			 in my spare time.  My wife is a travel agent and
			 I've started developing a CRM web app for her
			 to help keep her organized. From this experience,
			 I've discovered that I really enjoy web development.  </p>
		  <p>I'm naturally curious and am always looking to expand my skill set.
		   My Google News feed is filled with articles about coding techniques
		   and how to improve your skill.Along with my desire to
		   continually learn, I also have a creative side, both artistically
		   and technically. Some times as a developer, you need to think
		   outside the box to solve a problem.</p>
			<p class="w3-wide w3-tooltip">
			  <i class="fa fa-database w3-margin-right"></i>Database
			  <span style="position:absolute;left:15;top:20px;border-radius: 10px 10px 0% 0%;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  Oracle PL/SQL</span>
			  <span style="position:absolute;left:15;top:42px;border-radius: 0% 0% 10px 10px;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  PostgreSQL</span>
			</p>
			<div animateOnScroll animationName="is-visible" class="w3-grey stretch">
			  <div class="w3-container w3-blue-grey w3-center" style="width:90%">90%</div>
			</div>
			<p class="w3-wide w3-tooltip">
			  <i class="fa fa-desktop w3-margin-right"></i>Back-end
			  <span style="position:absolute;left:15;top:20px;;border-radius: 10px 10px 0% 0%;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  PHP</span>
			  <span style="position:absolute;left:15;top:42px;border-radius: 0% 0% 10px 10px;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  Ruby On Rails</span></p>
			<div animateOnScroll animationName="is-visible" class="w3-grey stretch">
			  <div class="w3-container w3-blue-grey w3-center" style="width:70%">70%</div>
			</div>
			<p class="w3-wide w3-tooltip">
			  <i class="fa fa-photo w3-margin-right"></i>Front-end
			  <span style="position:absolute;left:15;top:20px;border-radius: 10px 10px 0% 0%;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  JavaScript</span>
			  <span style="position:absolute;left:15;top:42px;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  AngularJS</span>
			  <span style="position:absolute;left:15;top:64px;" 
					class="w3-text w3-tag w3-light-gray tooltip">
					  W3.css</span>
			  <span style="position:absolute;left:15;top:86px;border-radius: 0% 0% 10px 10px;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  Bootstrap</span></p>
			<div animateOnScroll animationName="is-visible" class="w3-grey stretch">
			  <div class="w3-container w3-blue-grey w3-center" style="width:65%">65%</div>
			</div>
			<p class="w3-wide w3-tooltip">
			  <i class="fas fa-chart-line w3-margin-right"></i>Reporting
			  <span style="position:absolute;left:15;top:20px;border-radius: 10px 10px 0% 0%;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  Tableau</span>
			  <span style="position:absolute;left:15;top:42px;border-radius: 0% 0% 10px 10px;"
					class="w3-text w3-tag w3-light-gray tooltip">
					  Crystal Reports</span></p>
			<div animateOnScroll animationName="is-visible" class="w3-grey stretch">
			  <div class="w3-container w3-blue-grey w3-center" style="width:75%">75%</div>
			</div>
	  </div>
	</div>
  </div>


<!-- CV Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="cv">
	<h1 class="w3-center">EXPERIENCE</h1>
	<div class="content">
	  <!--ROW ONE-->
	  <div class="w3-row-padding">
		<h2 class="w3-center">The Hibbert Group</h2>
		<div class="w3-third">
		  <span class="w3-large w3-margin-left"><u>June 2016 - Present</u></span>
		  <ul class="w3-ul w3-white w3-margin-bottom">
			<li><h3>Database Developer</h3></li>
			<li>Code using PL/SQL and PGSQL</li>
			<li>Create database objects as needed</li>
			<li>Troubleshoot issues</li>
			<li>Write complex SQL queries</li>
			<li>Create reporting using Tableau and Crystal Reports</li>
		  </ul>
		</div>
		<div class="w3-third">
		  <span class="w3-large w3-margin-left"><u>June 2014 - June 2016</u></span>
		  <ul class="w3-ul w3-white w3-margin-bottom">
			<li><h3>Business Intelligence Specialist</h3></li>
			<li>Write change requests</li>
			<li>Test new or updated database procedures</li>
			<li>Write basic SQL queries</li>
		  </ul>
		</div>
		<div class="w3-third">
		  <span class="w3-large w3-margin-left"><u>January 2012 - June 2014</u></span>
		  <ul class="w3-ul w3-white w3-margin-bottom">
			<li><h3>Technical Specialist</h3></li>
			<li>Process customer direct mail, email and call center requests</li>
			<li>Maintain QA</li>
		  </ul>
		</div>
	  </div>
	  <!--ROW TWO-->
	  <div class="w3-row-padding">
		<h2 class="w3-center">Other Employment</h2>
		<div class="w3-third">
		  <span class="w3-large"><u>2009-2010</u>
			<p>Audio Visual Solutions</p></span>
		  <ul class="w3-ul w3-white w3-margin-bottom">
			<li><h3>A/V System Installer</h3></li>
			<li>Team projects installinging A/V equipment</li>
			<li>Independently worked to install various A/V components in classrooms and offices.</li>
		  </ul>
		</div>
		<div class="w3-third">
		  <span class="w3-large"><u>2006-2009</u>
			<p>Campbell's Soup</p></span>
		  <ul class="w3-ul w3-white w3-margin-bottom">
			<li><h3>Intern</h3></li>
			<li>Led Business Intelligence Project to display MS Access data in Excel using SQL and Visual Basic</li>
			<li>Collaborated with fellow intern on a spray-field control project</li>
		  </ul>
		</div>
	  </div>
	  <!--ROW THREE-->
	  <div class="w3-row-padding">
		<h2 class="w3-center">Education</h2>
		<div class="w3-third">
		  <span class="w3-large"><u>2011-2012</u>
			<p>Camden County College</p></span>
		  <ul class="w3-ul w3-white w3-margin-bottom">
			<li><h3>Electronic Health Records Consultant Certificate</h3></li>
		  </ul>
		</div>
		<div class="w3-third">
		  <span class="w3-large"><u>2006-2009</u>
			<p>New Jersey Institute of Technology</p></span>
		  <ul class="w3-ul w3-white w3-margin-bottom">
			<li><h3>Bachelor of Science – Manufacturing Engineering Technology</h3></li>
		  </ul>
		</div>
		<div class="w3-third">
		  <span class="w3-large"><u>2004-2006</u>
			<p>Camden County College</p></span>
		  <ul class="w3-ul w3-white w3-margin-bottom">
			<li><h3>Associate of Science – Electro-Mechanical Engineering Technology</h3></li>
		  </ul>
		</div>
	  </div>
	<!--end rows-->
	</div>
  </div>

<!-- Contact Section -->
<div class="content" style="padding:128px 16px" id="contact">
	<div class="center">
		<h1>CONTACT</h1>
	</div>
	<div class="center">
		<p>Lets get in touch. Send me a message:</p>
	</div>
	<div class="center">
		<div class="inline"><mat-icon> place</mat-icon> New Jersey, US
		</div>
		<div class="inline"><mat-icon>email</mat-icon> Email:
			catyler85@gmail.com</div>
		<div class="inline"><mat-icon> textsms</mat-icon> Text: (609) 458-3889
		</div>
	</div>
	<br>
	<form name="contactForm" action="mailto:{{mailto}}" method="GET">
		<p><mat-form-field class="full">
			<mat-label>Name</mat-label>
			<input matInput placeholder="Name"  name="Name">
		</mat-form-field>
		</p>
		<p><mat-form-field class="full">
			<mat-label>Email</mat-label>
			<input matInput placeholder="Email" required name="Email" type="email">
		</mat-form-field></p>
		<p><mat-form-field class="full">
			<mat-label>Subject</mat-label>
			<input matInput placeholder="Subject"  name="Subject">
		</mat-form-field></p>
		<p><mat-form-field class="full">
			<mat-label>Message</mat-label>
			<input matInput placeholder="Message"  name="body">
		</mat-form-field></p>
		<p>
		<button mat-raised-button type="submit">
			<mat-icon>send</mat-icon> SEND MESSAGE
		</button>
		</p>
	</form>
</div>

<!-- Footer -->
<footer class="w3-black w3-padding-64">
	<div class="content">
	<div class="center">
	  <a mat-raised-button href="#" class="w3-button w3-light-grey"><mat-icon>keyboard_arrow_up</mat-icon>Home</a>
	</div>
	<div class="center w3-xlarge w3-section">
	  <a href="https://github.com/catyler85"><i class="fab fa-github w3-hover-opacity w3-text-white w3-padding-small"></i></a>
	  <a href="https://www.linkedin.com/in/corey-tyler-18887820/"><i class="fab fa-linkedin w3-hover-opacity w3-text-white w3-padding-small"></i></a>
	  <a href="https://www.facebook.com/catyler85"><i class="fab fa-facebook w3-hover-opacity w3-text-white w3-padding-small"></i></a>
	</div>
	<div class="center">
	Powered by <a class="w3-padding-small" href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"> w3.css </a>
	  - Photo by <a class="w3-padding-small" href="{{url}}"> {{firstName + " " + lastName}} </a> on Unsplash
  </div>
</div>
	  <script src="/portfolio-app/src/assets/js/animate.js"></script>
  </footer>
